<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDPlwyfQNj_HF8KcnzmMKjM_nxvpxLpDLw</string>
	<key>GCM_SENDER_ID</key>
	<string>319167834999</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>kr.co.jeje.RemoteConfig</string>
	<key>PROJECT_ID</key>
	<string>fir-remoteconfig-af4fd</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-remoteconfig-af4fd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:319167834999:ios:295ae0e06027836faa0f72</string>
</dict>
</plist>